{% extends "base_generic.html" %}
{% block content %}
<div class="food_record">
    <h5>飲食紀錄</h5>
    <form action="/momofit/food_record" method="GET" class="row">
        <input id="mydate" type="text" name="mydate" class="datepicker col s11">
        <span class="col s1"><button type="submit" value="submit" name='submit-btn' class="btn waves-effect btn-right"><i class="material-icons">search</i></button></span>
    </form>
    <div class="record"><a class="btn-floating btn waves-effect waves-light modal-trigger btn-add" href="#modal-food_record"><i class="material-icons">add</i></a>
        {% if search_date %}
        <h5>{{search_date}}</h5>
        {% else %}
        <h5>最近七餐</h5>
        {% endif %}
        <table>
            <thead>
                <tr>
                    <th>日期</th>
                    <th>店家</th>
                    <th>食物</th>
                    <th>數量</th>
                    <th>熱量</th>
                    <th></th>
                </tr>
            </thead>
    
            <tbody>
                {% for date in record %}
                <tr>
                    <form action="/momofit/food_record/" method="GET">
                    <td>{{date.0}}</td>
                    <td>{{date.1}}<span class="mute">({{date.6}})</span></td>
                    <td>{{date.2}}</td>
                    <td>{{date.3}}</td>
                    <td>{{date.4}}</td>
                    <td>
                    <button name="delete" id="delete" value="{{date.5}}" type="submit" class="btn-floating btn waves-effect waves-light btn-right delete-record-btn"><i class="material-icons">delete</i></button>
                    </form>    
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div id="modal-food_record" class="modal">
        <div class="modal-content">
            <h5 class="modal-title">新增飲食紀錄</h5><a href="#!" class="modal-close waves-effect waves-green btn btn-right"><i class="material-icons">close</i></a>
            
            <form name="add_food" action="/momofit/food_record/" method="POST">
            {% csrf_token %}
                <h6>日期</h6>
                <input type="text" name="select_date" class="datepicker-today">
                <h6>店家</h6>
                <select name="select_store">
                    {% for store in store_list %}
                    <option value="{{store}}">{{ store }}</option>
                    {% endfor %}
                </select>
                <h6>餐點</h6>
                <select name="select_food">
                    {% for food in food_list %}
                    <option value="{{food}}">{{food}}</option>
                    {% endfor %}
                </select>
                <h6>數量</h6>
                <select name="select_quantity">
                    {% for i in quantity %}
                    <option value={{i}}>{{i}}</option>
                    {% endfor %}
                </select>
                <button type="submit" class="btn waves-effect btn-right btn-margin-bottom">新增</button>
            </form>
 
        </div>
    </div>
</div>
{% endblock %}