{% extends "base_generic.html" %}
{% block content %}
  <!-- {% if user.is_authenticated %} -->
    {% load static %}
    <h2>個人資料</h2>
      <div class = "info-content">
        {% csrf_token %}
        <div class = "selfie"> 
          <img src="{% static 'img/momo.jpg' %}" class="user-selfie-style">
        </div>

          <!-- Modal Structure -->
          <div id="modal1" class="modal">
            <div class="modal-content">
                <h4>修改個人資料</h4>

                <h6>身高：</h6>
                <h6>體重：</h6>
                <h6>胸推個人紀錄(kg)：</h6>
                <h6>深蹲個人紀錄(kg)：</h6>
                <h6>硬舉個人紀錄(kg)：</h6>
                <h6>個人活動量：</h6>
            </div>
            <div class="modal-footer">
                <a href="#!" class="modal-close waves-effect waves-green btn-flat">取消</a>
                <a href="#!" class="modal-close waves-effect waves-green btn-flat">更新</a>
            </div>
          </div>

        <div class = "information" style="width:80%;">
            <a class="waves-effect waves-light btn modal-trigger" href="#modal1">修改個人資料</a>
          <h5>姓名: {{ name }}</h5>
          <h5>性別: {{ sex }}</h5>
          <h5>年齡: {{ age }}</h5>
          <h5>身高: {{ height }}</h5>
          <h5>體重:  {{ weight }}</h5>
          <h5>體脂肪: {{fat}} </h5> 
          <h5>三項成績(B/D/S): {{bench_press}}/{{Dead_lift}}/{{Squat}}</h5>
          <h5>基礎代謝: {{ kcal }}</h5>
        </div>
      </div>
      <h2>我的歷程</h2> 
      <div class = "information-chart">
        <div class = "information-chart-1">
        <h2>Graph-1</h2> 
          <img src="{% static 'img/work_freq.jpg' %}" class="work_freq">
        </div>
        <div class = "information-chart-2">
        <h2>Graph-2</h2> 
          <img src="{% static 'img/BDS.jpg' %}" class="BDS">
        </div>
      </div>  
  <!-- {% else %} -->
    <!-- <h2>您尚未登入!</h2>  -->
  <!-- {% endif %}   -->

{% endblock %}
