{% extends "base_generic.html" %}
{% block content %}
<div class="train_record">

    <form action="/momofit/train_record/" method="GET">
        <input id="mydate" type="text" name="mydate" class="datepicker">
        <button type="submit" class="btn waves-effect">Search</button>
    </form>
    <div class="record"><a class="btn-floating btn waves-effect waves-light modal-trigger btn-add" href="#modal-train_record"><i class="material-icons">add</i></a>
        {% if date %}
        <h5>{{date}}</h5>
        {% else %}
        <h5>最近七次</h5>
        {% endif %}
        <table>
            <thead>
                <tr>
                    <th>日期</th>
                    <th>健身房</th>
                    <th>項目</th>
                    <th>次數/組</th>
                    <th>重量</th>
                    <th>組數</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for date in record %}
                <tr>
                    <td>{{date.0}}</td>
                    <td>{{date.1}}</td>
                    <td>{{date.2}}</td>
                    <td>{{date.3}}</td>
                    <td>{{date.4}}</td>
                    <td>{{date.5}}</td>
                    <td>
                        <span class="btn-floating btn waves-effect waves-light btn-right delete-menu-btn">
                            <i class="material-icons">delete</i>
                        </span>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div id="modal-train_record" class="modal">
        <div class="modal-content">
            <h5>新增健身紀錄</h5><a href="#!" class="modal-close waves-effect waves-green btn btn-right"><i class="material-icons">close</i></a>

            <form name="add_train" id="add_train" action="/momofit/train_record/" method="POST">
                {% csrf_token %}
                <h6>日期</h6>
                <input type="text" name="select_date" id="select_date" class="datepicker">
                <h6>健身房</h6>
                <select name="select_gym" type="text">
                    <option value="0" disabled selected>gym</option>
                    {% for gym in gym_list %}
                    <option value="{{gym.0}}">{{gym.0}}</option>
                    {% endfor %}
                </select>
                <h6>動作</h6>
                <select name="select_item" type="text">
                    <option value="0" disabled selected>movement</option>
                    {% for item in item_list %}
                    <option value="{{item.0}}">{{item.0}}</option>
                    {% endfor %}
                </select>
                <h6>次數/組</h6>
                <input type="text" name="select_rep" value="5">
                <h6>重量</h6>
                <input type="text" name="select_weight" value="30">
                <h6>組數</h6>
                <select name="select_train_set" >
                    <option value="0" disabled selected>number of set</option>
                    {% for n in train_set %}
                    <option value="{{n}}">{{n}}</option>
                    {% endfor %}
                </select>
                <button type="submit" class="btn waves-effect btn-right">新增</button> 
            </form>
        </div>
    </div>
    
</div>
{% endblock %}