{% extends "base_generic.html" %}
{% block sidebar %}{% endblock %}
{% block content %}{% endblock %}
{% block sign-in-content %}
<div>
想要跟momo一樣瘦嗎？
  <div>
  {% if user.is_authenticated %}
    <p>您已登入</p>
    <a href="{% url 'profile' %}">回到個人資料頁面</a>
  {% else %}
    <h2>登入</h2>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <a href="{% url 'signup' %}">還沒有帳號？</a><br><br>
      <button type="submit" class="btn waves-effect">登入</button>
    </form>
  {% endif %}
  </div>
</div>
{% endblock %}